<div class="row mb-3">
{% for article in articles %}
    <div class="card col-2">
        <img src="{{ asset('uploads/' ~ article.image) }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">DUO#{{ article.id }}</h5>
        </div>
    </div>
{% endfor %}
</div>