<div class="row">
    {% for article in articles %}
    <div class="col-12 mb-2 d-sm-none">
        <div class="card">
            <div class="row g-0">
                <div class="col-4" data-mdb-ripple-color="light">
                    <img src="{{ asset('uploads/' ~ article.image) }}" class="w-100" alt="...">
                </div>
                <div class="col-8">
                    <div class="card-body p-1">
                        <p class="card-title mb-1">DUO#{{ article.id }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-2 mb-2 d-none d-sm-block">
        <div class="card">
            <div class="bg-image hover-zoom ripple" data-mdb-ripple-color="light">
                <img src="{{ asset('uploads/' ~ article.image) }}" class="w-100" alt="...">
            </div>
            <div class="card-body p-1">
                <p class="card-title mb-1">DUO#{{ article.id }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>