{% extends 'base.html.twig' %}

{% block title %}Ajouter des articles{% endblock %}

{% block body %}
    <h1>Ajouter des articles dans le catalogue</h1>

    {{ include('article/_form.html.twig') }}
{% endblock %}
