{% extends 'base.html.twig' %}

{% block title %}Fiche article{% endblock %}

{% block body %}
    <h1>Fiche article</h1>

    {{ include('article/_form.html.twig') }}

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
